.container__all {
    margin: 20px auto;
    padding: 50px;
    max-width: 80vw;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

.caixa {
	padding-bottom: 10px;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 70px;
	right: 10%;
}


nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: hsl(228, 45%, 44%);
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}

nav a:hover {
	color: hsl(35, 77%, 62%);	
}
/* CSS conteudo principal*/

.imagem__principal {
    width: 600px;
    padding-top: 40px;
}

.container__cards h2 {
    font-size: 42px;
}
