.container__all {
    margin: 20px auto;
    padding: 50px;
    max-width: 80vw;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

.caixa {
	padding-bottom: 10px;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 70px;
	right: 10%;
}


nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: hsl(228, 45%, 44%);
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}

nav a:hover {
	color: hsl(35, 77%, 62%);	
}
/* CSS conteudo principal*/

.imagem__principal {
    width: 600px;
    padding-top: 40px;
}

.container__card {
	display: flex;
	
}

.container__card h2 {
    font-size: 42px;
	font-weight: bold;
}

.texto__primeira__secao {
	font-size: 15px;
	color: hsl(233, 8%, 79%);
	line-height: 20px;
}

.enviar {
	width:20%;
	padding: 15px 0;
	background: hsl(5, 85%, 63%);
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}

.container2__card {
	border-radius: 12px;
    width: 300px;
    height: 430px;
    padding: 25px;
    margin: 0 15px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.5);
	background-color: hsl(240, 100%, 5%);
	text-align: center;
	    
}

.container2__card h1 {
	font-size: 26px;
	font-weight: bold;
	color: hsl(35, 77%, 62%);
	margin-bottom: 20px;
		
}

.container2__card h2 {
	font-size: 18px;
	padding: 15px;
	font-weight: bold;
	color: hsl(233, 8%, 79%);
}

.container2__card p {
	font-size: 15px;
	color: hsl(233, 8%, 79%);
	padding: 10px;
}

.hr {
	border: 0;
	border-top: 1px solid hsl(233, 8%, 79%);
}

.container__imagem {
	display: flex;
}

.container__imagem h3 {
	font-size: 26px;
	font-weight: bold;
	color: hsl(233, 8%, 79%);
}

.container__imagem h4 {
	font-size: 17px;
	font-weight: bold;
	color: hsl(240, 100%, 5%);
}

.container__imagem p {
	font-size: 15px;
	color: hsl(233, 8%, 79%);
}