@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;;
}

a {
	font-size: 50px;
}


.container__all {
	max-width: 1440px;
    margin: 20px auto;
	min-height: 100vh;
	font-weight: 400;
    padding: 40px 200px;       
}

nav {
	text-decoration: none;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

nav a {
	text-decoration: none;
	font-size: 20px;
	margin-right: 20px;
	color: hsl(236, 13%, 42%);
}

nav a:hover {
	color: hsl(35, 77%, 62%);	
}

nav a:last-child{
    margin-right: 0px;
}

/* CSS conteudo principal*/

.icon__menu {
	display: none;
	cursor: pointer;
}

.backdrop {
	display: none;
}

.imagem__principal__mobile {
	display: none;
}
.hero {
	display: grid;
	gap: 50px;
}

.first__section {
	display: grid;
	gap: 20px;
	grid-template-areas: "hero__img hero__img hero__img news"
    "hero__img hero__img hero__img news"
    "intro intro intro news";
}

.hero__img {
	grid-area: hero__img;
}

.hero__img img {
	width: 100%;
}

.intro {
	grid-area: intro;
	display: flex;
}

.intro h1 {
	flex: 1;
	margin-right: 30px;
	font-weight: 800;
	font-size: 30px;
	color: hsl(240, 100%, 5%);
}

.intro .description {
	flex: 2;
	font-size: 15px;
	color: hsl(240, 100%, 5%);
}

.intro .description button {
	margin-top: 20px;
	color: hsl(36, 100%, 99%);
	background-color: hsl(5, 85%, 63%);
	border: none;
	padding: 9px 12px;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 2px;
	font-weight: 700;
	cursor: pointer;
}

.intro .description button:hover {
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
}

.news {
	grid-area: news;
	color: hsl(36, 100%, 99%);
    background-color: hsl(240, 100%, 5%);
    padding: 30px;
}

.news h2 {
	color: hsl(35, 77%, 62%);
	font-size: 30px;
	margin-bottom: 20px;
}

.news .card {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid  hsl(233, 8%, 79%);
}